<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>葡萄说</title>
		<meta name="author" content="yang" />
		<!-- Date: 2014-04-13 -->
		<link type="text/css" rel="stylesheet" href="/static/css/grapecustom.css" />
	</head>
	<body>
		<div class="content-container container ">
			<div class="container full-panel half-vertical-panel">
				<div class="button-block red-bg half-panel full-vertical-panel left-float">
					<a href="create/" style="line-height: 400px">
				        <h1>+1</h1>
				    </a>
				</div>
				<div class="button-block blue-bg half-panel full-vertical-panel left-float">
					<a href="list/" style="line-height: 400px">
				        <h1>报表</h1>
				    </a>
				</div>
			</div>
			<div class="container  full-panel half-vertical-panel">
				<div class="button-block green-bg half-panel full-vertical-panel left-float">
					<a href="#/" style="line-height: 400px">
				        <h1>概况</h1>
				    </a>
				</div>
				<div class="button-block yellow-bg half-panel full-vertical-panel left-float">
					<a href="#/" style="line-height: 400px">
				        <h1>关于</h1>
				    </a>
				</div>
			</div>
		</div>
	    
	</body>
</html>

